@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  background-color: lightblue;
  font-family: 'Ubuntu', sans-serif;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 400;
        line-height: 1.58;
        letter-spacing: -.003em;
        font-size: 15px;
        padding: 70px;
}

h1 {
  color: navy;
  margin-left: 20px;
}

